@import '../../scss/mixins.scss';
.mapa {
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
  .image{
    width: 100%;
    @include respond-to(tb){
      display: block;
      margin: auto;
      width: 70%;
    }
  }
}
.see-hotel {
  width: 100%;
  box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
  @include respond-to(tb){
    display: block;
    margin: auto;
    background-color:#F4F4F4;
    width: 100%;
    border-bottom: 1px solid #CCC;
  }
  height: 50px;
  text-align: center;
  vertical-align: center;
  font-size: 12px;
  padding-top: 16px;
  @include respond-to(ph tb){
    background-color:#F4F4F4;
    font-size: 16px;
    border-bottom: 1px solid #CCC;
  }
    .see {
      padding-top: 10px;
      cursor: pointer;
    }
}