@import '../../scss/mixins.scss';
.mapa {
  width: 100%;
  .image{
    width: 100%;
    @include respond-to(tb){
      display: block;
      margin: auto;
      width: 70%;
    }
  }
}
.see-hotel {
  width: 100%;
  @include respond-to(tb){
    display: block;
    margin: auto;
    width: 70%;
    border-bottom: 1px solid #CCC;
  }
  height: 50px;
  background-color: white;
  text-align: center;
  vertical-align: center;
  font-size: 12px;
  padding-top: 16px;
  @include respond-to(ph tb){
    font-size: 16px;
    border-bottom: 1px solid #CCC;
  }
    .see {
      padding-top: 10px;
      cursor: pointer;
    }
}