ul.filterList
    li.map-ctn
        map()
    li.filters-title-ctn
        span.filtersTitle(ng-click="collapseFilters =! collapseFilters") Filtrar
        span.delet-filter(ng-click="$ctrl.removeFilters()" ng-show="!collapseFilters") <i class="fa fa-times" aria-hidden="true"></i> Eliminar filtros
    li
        filter-search(filters = '$ctrl.filters' ng-show="!collapseFilters")
    li
        filter-price(filters = '$ctrl.filters' ng-show="!collapseFilters")
    li
        filter-stars(filters = '$ctrl.filters' ng-show="!collapseFilters")
