ul.filterList
    li.filtersTitle Filtrar
        span.delet-filter(ng-click="$ctrl.removeFilters()") <i class="fa fa-times" aria-hidden="true"></i> Eliminar filtros
    li
        filter-search(filters = '$ctrl.filters')
    li
        filter-price(filters = '$ctrl.filters')
    li
        filter-stars(filters = '$ctrl.filters')
