.filterList {
  list-style: none;
  background-color: #F4F4F4;
  padding-left: 8px;
  li {
    padding-top: 8px;
  }
  .map-ctn{
    width: 100%;
    height: 100%;
  }
  .filters-title-ctn{
    background-color:#F4F4F4;
    @include respond-to(ph tb){
      text-align: center;
      box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
      border-bottom: 1px solid #CCC;
    }
    .filtersTitle {
      padding-left: 8px;
      vertical-align: center;
      line-height: 32px;
      font-size: 16px;
      color: #444444;
      cursor: pointer;
      @include respond-to(ph tb){
        color: #1a99df;
        background-color:#F4F4F4;
      }
    }
    .delet-filter {
      float: right;
      font-size: 12px;
      margin-right: 8px;
      cursor: pointer;
      color: #1a99df;
      @include respond-to(ph tb){
        display: none;
      }
    }
  }
}