.filterList{
  list-style: none;
  background-color: lightgray;
  padding-left: 8px;
  li{
    padding-top: 8px;
    .delet-filter{
      float:right;
      font-size: 12px;
      margin-right: 8px;
      cursor: pointer;
      color: #1a99df;
    }
  }
}

.filtersTitle{
  padding-left: 8px;
  vertical-align: center;
  line-height: 24px;
  background-color: white;
  font-size: large;
  color: #444444;
  font-weight: bold;
}