.row{
  overflow: hidden;
  .breadcrumb-ctn{
    margin-bottom: -16px;
  }
  .search-ctn{
    background-color: #F4F4F4;
    float: none;
    border: solid 0.1px;
    border-color: darkgray;
    margin: 0px 24px 8px 24px;
    height: 100%;
    width: 98%;
    display: inline-block;
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .filters-ctn{
    background-color: #F4F4F4;
    float: left;
  }
  .hotel-ctn{
    background-color: #F4F4F4;
    float: left;
    padding-left:4px;
    padding-top: 4px;
  }
}