.row{
  overflow: hidden;
  .search-ctn{
    background-color: white;
    float: none;
    border-style: ridge;
    margin: 8px;
    height: 100%;
    display: inline-block;
  }
  .filters-ctn{
    background-color: lightgray;
    float: left;
    @include respond-to(ph tb){
      clear: both;
    }
  }

  .hotel-ctn{
    background-color: white;
    float: left;
    padding-left:4px;
    padding-top: 4px;
    @include respond-to(ph tb){
      clear: both;
    }
  }
}