.mapa {
  width: 100%;
  .image{
    width: 100%;

  }
}
.see-hotel {
  width: 100%;
  height: 50px;
  background-color: white;
  text-align: center;
  vertical-align: center;
  font-size: large;
  padding-top: 16px;
  .see {
    padding-top: 10px;
  }
}