.filterList{

}

.filtersTitle{
  font-size: large;
  color: #444444;
  font-weight: bold;
}

.filter-ctn{
  box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
  padding: 3%;
}
.filter-header{
  cursor: pointer;
  font-size: small;
  font-weight: bold;
  color: #1a99df;
}
.filter-container{
  .button-search{
    border-radius: 10%;
    background-color:darkblue;
    border: none;
    color: white;
    text-align: center;
    font-size: 110%;
    cursor: pointer;
    margin-left: 2%;
  }
  .search-name{
    width: 70%;
    border-style: ridge;
    border-radius: 1%;
  }
}



  .filter-header {
    cursor: pointer;
    font-size: small;
    font-weight: bold;
    color: #1a99df;
  }