.slider {
  position: relative;
  height: 100%;
  width: 100%;
  .items-ctn{
    li {
      img {
        height: 100%;
        width: 100%;
        position: center;
      }
    }
  }
  .nav-ctn {
    position: absolute;
    width: 100%;
    top:50%;
    left: 0;
    li {
      z-index: 1;
      position: absolute;
      cursor: pointer;
      font-size: 18px;
      .prev{
        left: 0;
      }
      .next{
        right: 0;
      }
    }
  }
}

ul{
  list-style: none;
  li{
    list-style: none;
  }
}
