@import './slider/slider.scss';

body, html{
  background-color: lightgray;
  font-family: sans-serif;
}

hotel-item{
}

.liHotels{
  list-style: none;
}
.descHotel{
  background-color: white;
  overflow: hidden;
  zoom: 1;
  box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
  margin: 8px 0 8px 0;
}

.imgHotel{
  float: left;
  margin: 4px;
  height: 258px;
  width: 301px;
  background: center;
    img{
      height: 100%;
      width: 100%;
    }
}

.dataHotel{
  line-height:20px;
  padding: 0.5% 1%;
  font-weight: lighter;
  float: left;
}

.nameHotel{
  font-weight: bold;
}

.stars{
  color: yellow;
  font-size: large;
}

.room{
  color: darkorange;
  font-weight: bold;
}

.icon{
  letter-spacing: 10px;
  font-size: medium;
}

.dataPrice{
  float: right;
  padding: 16px;
  border-left-style: dashed ;
  border-width: 0.5px;
  text-align: center;
}

.price{
  line-height:50%;
  vertical-align: super;
  color: darkorange;
  font-size: 40px;
  font-weight: bold;
}

.priceARS{
  font-size: 20px;
  font-weight: lighter;
}

#priceHotel{

}

#verHotel{
  border-radius: 4px;
  background-color:darkblue;
  border: none;
  color: white;
  padding: 15px 60px;
  text-align: center;
  font-size: 16px;
  margin: 6px 2px;
  cursor: pointer;
}

#prueba{
  line-height: normal;
}

#paga{
  line-height: normal;
}