@import '../app/slider/slider';
@import './font.scss';
@import '../app/result/filter/filters';
@import '../app/result/filter/filter-list.scss';
@import '../app/result/filter/filter-price/filter-price.scss';
@import '../app/result/filter/filter-search/filter-search.scss';
@import '../app/result/filter/filter-stars/filter-stars.scss';
@import '../app/search-status/search-status';
@import '../app/result/hotel-list/hotel-item/hotel-item.scss';
@import '../app/result/hotel-list/hotel-list.scss';
@import '../app/result/hotel-result-root.scss';
@import '../app/map/map.scss';
@import './variables.scss';
@import './mixins.scss';
@import '../vendor/angularjs-slider/dist/rzslider.scss';

body, html{
  background-color: #F4F4F4;
  font-family: 'Roboto', sans-serif;
  padding: 0px 8px;
}

.first-row{
  background-color: darkblue;
}
.sup-menu{
  background-color: darkblue;

  span{
    font-size: 16px;
  }
}
.main-menu{
  background-color: darkblue;
  a{
    font-size: 16px;
    text-height:24px;
    text-align: center;
  }
}