@import "../../scss/mixins.scss";
.search-box{
  .title-search-status{
    font-size: 12px;
    margin-bottom: 16px;
  }
  .data-search-cont{
    margin: -16px;

    .data{
      font-size: 12px;
      display: inline-block;
      @include respond-to(ph tb){
        display: inline-flex;
        font-size: small;
      }
      margin:8px;
    }
  }
}