div
    section.title-search-status Hoteles disponibles para:

    section.data-search-cont
        span.data <i class="fa fa-map-marker" aria-hidden="true"></i> madrid
        span.data <i class="fa fa-calendar-check-o" aria-hidden="true"></i> 17/02/2017
        span.data <i class="fa fa-calendar-check-o" aria-hidden="true"></i> 17/05/2017
        span.data <i class="fa fa-calendar-check-o" aria-hidden="true"></i> 17/02/2017
        span.data <i class="fa fa-user" aria-hidden="true"></i> 2 huespedes
        a(href="") Modificar Busqueda