@import "../../../../scss/mixins";

.descHotel{
  background-color: white;
  overflow: hidden;
  zoom: 1;
  box-shadow: 0px 1px 3px 0px rgba(119, 119, 119, 0.3);
  padding: 8px 8px;
  .imgHotel{
    float: left;
    height: 208px;
    background: center;
    @include respond-to(ph){
      width: 100%;
    }
    @include respond-to(tb){
      width:40%;
    }
    @include respond-to(dt){
      width:35%;
    }
  }
  .dataHotel{
    line-height:20px;
    padding: 0.5% 1%;
    font-weight: lighter;
    float: left;
    @include respond-to(ph){
      width: 100%;
      p,span{
        font-size: 150%;
      }
    }
    @include respond-to(tb){
      width: 30%;
    }
    @include respond-to(dt){
      width: 35%;
    }

    .nameHotel{
      font-weight: bold;
    }
    .stars{
      color: #FDBA12;
      font-size: large;
    }
    .room{
      color: darkorange;
      font-weight: bold;
    }
    .icon{
      color: #444444;
      letter-spacing: 10px;
      font-size: medium;
    }
  }
  .dataPrice{
    float: right;
    padding: 16px;
    text-align: center;
    .price-hab,.imp-tasas{
      line-height: 18px;

    }
    p,a{
      line-height: 16px;
    }
    @include respond-to(ph){
      width: 100%;
      border-style:none;
      p,a{
        font-size: 150%;
      }
    }
    @include respond-to(tb){
      width: 30%;
      border-left-style: dashed ;
      border-width: 0.5px;
    }
    @include respond-to(dt){
      width: 20%;
      border-left-style: dashed ;
      border-width: 0.5px;
    }
    .price{
      line-height:50%;
      vertical-align: super;
      color: darkorange;
      font-size: 32px;
      font-weight: bold;
      .priceARS{
        font-size: 24px;
        font-weight: lighter;
      }
    }
    .verHotel{
      border-radius: 4px;
      background-color:darkblue;
      border: none;
      color: white;
      padding: 8px 64px;
      text-align: center;
      font-size: 16px;
      margin: 6px 2px;
      cursor: pointer;
    }
  }
}