div.descHotel
    section.imgHotel
        img(src="{{$ctrl.hotel.image}}")

    section.dataHotel
        p {{$ctrl.hotel.name}}
        a(ng-repeat=("star in $ctrl.stars() track by $index")) ★
        p.room Solo la habitacion

    section.dataPrice
        p Precio por habitacion
        p.price
            strong ARS
                span#priceHotel {{$ctrl.hotel.price}}
        p Impuestos y tasas no incluidas

        button#verHotel(type='button') Ver Hotel
        p
            | Paga en cuotas
            br
            a(href='') Paga en destino
