div.descHotel
    section.imgHotel
        slider(items="$ctrl.hotel.images")
        img(src="{{$ctrl.hotel.image}}")

    section.dataHotel
        p.nameHotel {{$ctrl.hotel.name}}
        span.stars(ng-repeat=("star in $ctrl.stars() track by $index"))
            <i class="fa fa-star" aria-hidden="true"></i>
        p.room <i class="fa fa-bed" aria-hidden="true"></i> Solo la habitacion
        p.icons
            span.icon <i class="fa fa-glass" aria-hidden="true"></i>
            span.icon <i class="fa fa-check-square-o" aria-hidden="true"></i>
            span.icon <i class="fa fa-coffee" aria-hidden="true"></i>
            span.icon <i class="fa fa-wifi" aria-hidden="true"></i>
        ul
            li(ng-repeat = "(key,value) in $ctrl.hotel.amenities" ng-class ="$ctrl.getIcon(key)")

    section.dataPrice
        p#prueba Precio por habitacion
        p#prueba.price
            span.priceARS ARS
            span.priceHotel {{$ctrl.hotel.price}}
        p#prueba Impuestos y tasas no incluidas

        button#verHotel(type='button') Ver Hotel

        p#paga Paga en cuotas
        a#paga(href='') Paga en destino