div.descHotel
    section.imgHotel
        slider(items="$ctrl.hotel.images")

    section.dataHotel
        p.nameHotel {{$ctrl.hotel.name}}
        span.stars(ng-repeat=("star in $ctrl.stars() track by $index"))
            <i class="fa fa-star" aria-hidden="true"></i>
        p.room <i class="fa fa-bed" aria-hidden="true"></i> Solo la habitacion
        span.icon(ng-repeat = "(key,value) in $ctrl.hotel.amenities" ng-class ="$ctrl.getIcon(key)")


    section.dataPrice
        p Precio por habitacion
        p.price
            span.priceARS ARS
            span.priceHotel {{$ctrl.hotel.price}}
        p Impuestos y tasas no incluidas

        button.verHotel(type='button') Ver Hotel

        p Paga en cuotas
        a(href='') Paga en destino