.slider {
  position: relative;
  height: 100%;
  width: 100%;
  .items-ctn{
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
    list-style: none;
    height: 100%;
    .items {
      position: absolute;
      height: 100%;
      top: 0;
      left: 0;
      width: 100%;
      >.image {
        height: 100%;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        position: absolute;
      }
    }
  }
  .nav-ctn {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    list-style: none;
    height: 100%;
      .prev{
        padding: 0px 8px;
        left: 8px;
        position: absolute;
        z-index: 1;
        top: calc(50% - 12px);
        background-color: white;
        border-radius: 50%;
        color: #157ab1;
        font-size: 18px;
        cursor: pointer;
      }
      .next{
        padding: 0px 8px;
        right: 8px;
        position: absolute;
        z-index: 1;
        color: #157ab1;
        top: calc(50% - 12px);
        background-color: white;
        border-radius: 50%;
        font-size: 18px;
        cursor: pointer;
      }
  }
}
