.search-value{
  width: 70%;
  border-style: ridge;
  border-radius: 1%;
  font-size: 12px;
}
.button-search{
  border-radius: 10%;
  background-color:darkblue;
  border: none;
  color: white;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  margin-left: 2%;
}