div.filter-search-ctn
    p.filter-header(ng-click="") <i class="fa fa-search" aria-hidden="true"></i> Nombre del hotel
        span.arrow <i class="fa fa-arrow-up" aria-hidden="true"></i>
    section.filter-container
        input(placeholder="Ingrese el nombre del hotel")
        button(type='button') Aceptar