.filter-container{
  .all-stars{
    font-size: 12px;
  }

}
.check-ctn{
  .check-stars{
    text-align: center;
  }

  .stars-ctn{
    margin-left: 6px;
    .star{
      margin: 0px 2px;
      color: #FDBA12;
      font-size: 12px;
    }
    .number-hotels{
      margin-left: 8px;
      font-size: 12px;
      text-align: center;
      vertical-align: center;
    }
  }
}