div.filter-ctn
    p.filter-header(ng-click="collapse =! collapse") <i class="fa fa-star" aria-hidden="true"></i> Estrellas <i class="fa fa-sort-asc" aria-hidden="true"></i>

    section.filter-container(ng-show="!collapse")
        input.check-stars(type='checkbox')
        label.all-stars Todas las estrellas


        div.check-ctn
            input.check-stars(type='checkbox')
            label.stars-ctn
                span.star(ng-repeat=("star in [1,2,3,4,5] track by $index"))
                    <i class="fa fa-star" aria-hidden="true"></i>


        div.check-ctn
            input.check-stars(type='checkbox')
            label.stars-ctn
                span.star(ng-repeat=("star in [1,2,3,4] track by $index"))
                    <i class="fa fa-star" aria-hidden="true"></i>

        div.check-ctn
            input.check-stars(type='checkbox')
            label.stars-ctn
                span.star(ng-repeat=("star in [1,2,3] track by $index"))
                    <i class="fa fa-star" aria-hidden="true"></i>

        div.check-ctn
            input.check-stars(type='checkbox')
            label.stars-ctn
                span.star(ng-repeat=("star in [1,2] track by $index"))
                    <i class="fa fa-star" aria-hidden="true"></i>

        div.check-ctn
            input.check-stars(type='checkbox')
            label.stars-ctn
                span.star(ng-repeat=("star in [1] track by $index"))
                    <i class="fa fa-star" aria-hidden="true"></i>